{% load staticfiles %}
<html>
<head>
	<title>Report overview for %s</title>
	<script type="text/javascript">
	function highlight(element) { }
	function unhighlight(element) {}
	</script>
	<link href="{% static "errorreporter/css/reports.css" %}" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<a name="top"><h1>Overview report for {{ date }}</h1></a>
{% if crashreports %}
	Total # of reports: {{ crashreports|length }}<br>
	Total # of different stacks: {{ crashreports_aggr|length }}
{% else %}
	No crash reports for {{ date }}.
{% endif %}




{% with "errorreporter/flamegraphs/fg_d"|add:date|add:".svg" as flamegraph %}
	<object data="{% static flamegraph %}" type="image/svg+xml" id="version1" width="1000px"></object>
{% endwith %}
<br><br>

{% include "errorreporter/crashreport.html" %}