{% if crashreports_aggr %}
	{% for c in crashreports_aggr %}
		<div class="crashreport_aggr">
			<div class="report_header">
				Aggregate stacktrace (# of reports: {{ c.cnt }})  
	        	<a href="/errorreporter/graph_stack_occurrences/{{ c.id }}" target="_blank">View occurrences over time</a>
	        </div>
			<div class="report_contents">
	        	{{ c.stack|linebreaks  }}
	        </div>	
	       	<div class="report_header">
	       		Comments
	       	</div>
	        <div class="report_contents">
	       		<ol>
	       		{% for stack, comm in compact_comments.items %}
	       			{% ifequal c.stack stack %}
	        			{% for comment, ids in comm.items %}
	        				<li> {{ comment }} 
	        				{% for id in ids %}
	        					(<a href="#{{ id }}">#{{ id }}</a>)
	        				{% endfor %}
	        				<br>
	        			{% endfor %}        			
	        		{% endifequal %}
	        	{% endfor %}
	        	</ol>
	        </div>
		</div>
	{% endfor %}

{% endif %}

<hr>


{% if crashreports %}
	{% for c in crashreports %}
		<h3><a name="{{ c.id }}">Stack #{{ c.id }}</a> <a href="#top">Back to top</a></h3>
    	<dl class="margins_removed">
			<dt>Tribler version</dt>
			<dd>{{ c.version }}</dd>
			<dt>Date</dt>
			<dd>{{ c.date }}</dd>
			<dt>Stack <a href="javascript:toggleDiv('stack_{{ forloop.counter }}');">(show/hide)</a></dt>
			<dd id="stack_{{ forloop.counter }}" class="hidden">{{ c.stack|linebreaks }}</dd>
       		<dt>Comments <a href="javascript:toggleDiv('comments_{{ forloop.counter }}');">(show/hide)</a></dt>
       		<dd id="comments_{{ forloop.counter }}" class="hidden">{{ c.comments|linebreaks }}</dd>
       		<dt>Sysinfo <a href="javascript:toggleDiv('sysinfo_{{ forloop.counter }}');">(show/hide)</a></dt>
       		<dd id="sysinfo_{{ forloop.counter }}" class="hidden">{{ c.sysinfo|linebreaks }}</dd>
       	</dl>
       	<hr>
		</div>
	{% endfor %}

{% endif %}