{% load staticfiles %}
<html>
<head>
	<title>Report overview for %s</title>
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.time.min.js"></script>
	<script type="text/javascript">
	function highlight(element) { return; }
	function unhighlight(element) { return; }
	function toggleDiv(divId) {
	   $("#"+divId).toggle();
	}
			
	$(document).ready(function() {
		$("a.tooltip_report").each(function() {
	         $(this).qtip({
	            content: {
	                text: function(event, api) {
	                	$.ajax({
	                        url: api.elements.target.attr('href') // Use href attribute as URL	                        
	                    })
	                    .then(function(content) {
	                        // Set the tooltip content upon successful retrieval
	                        api.set('content.text', content);
	                    }, function(xhr, status, error) {
	                        // Upon failure... set the tooltip content to error
	                        api.set('content.text', status + ': ' + error);
	                    });
	        
	                    return 'Loading...'; // Set some initial text
	                }
	            },
	            position: {
				   adjust: {
				      screen: "flip"
				   }
				},
	            style: 'qtip-wiki',
	            hide: {
			        delay: 200,
			        fixed: true, // <--- add this
			        effect: function() { $(this).fadeOut(250); }
			    },
						    
	         });
    	});
    	
    	
	});
	</script>
	<link href="{% static "errorreporter/css/reports.css" %}" rel="stylesheet" type="text/css" media="screen" />
	<link href="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css"  rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<h1>Overview report for {{ version }}</h1>
{% if crashreports %}
	Total # of reports: {{ crashreports|length }}<br>
	Total # of different stacks: {{ crashreports_aggr|length }}
{% else %}
	No crash reports for {{ version }}.
{% endif %}

<br><br>

{% with "errorreporter/flamegraphs/fg_v"|add:formattedversion|add:".svg" as flamegraph %}
	<object data="{% static flamegraph %}" type="image/svg+xml" id="version1" width="1000px"></object>
{% endwith %}

<br><br>

{% include "errorreporter/crashreport.html" %}
</body>
</html>