{% if crashreports_aggr %}
	{% for c in crashreports_aggr %}
		<div class="crashreport_aggr">
			<div class="report_header">
				Aggregate stacktrace (# of reports: {{ c.cnt }})  
	        	<a href="{% url 'graph_stack_occurrences' c.id %}" class="fancybox">View occurrences over time</a>
	        </div>
			<div class="report_contents">
	        	{{ c.stack|linebreaks  }}
	        </div>	
	       	<div class="report_header">
	       		Comments
	       	</div>
	        <div class="report_contents">
	       		<ol>
	       		{% for stack, comm in compact_comments.items %}
	       			{% ifequal c.stack stack %}
	        			{% for comment, ids in comm.items %}
	        				<li> {{ comment }} 
	        				{% for id in ids %}
	        					(<a href="{% url 'stacktrace' id %}" class="fancybox" rel="comments_group_{{ forloop.parentloop.parentloop.counter }}" >#{{ id }}</a>)
	        				{% endfor %}
	        				<br>
	        			{% endfor %}        			
	        		{% endifequal %}
	        	{% endfor %}
	        	</ol>
	        </div>
		</div>
	{% endfor %}

{% endif %}

<hr>