{% load staticfiles %}
<html>
<head>
	<title>Report overview for {{ version }}</title>
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.js"></script>
	<script type="text/javascript">
	function highlight(element) { return; }
	function unhighlight(element) { return; }
				
	$(document).ready(function() {
		$(".fancybox").fancybox({
			'type' : 'iframe', 
			'loop': false,
			});    	
	});
	</script>
	<link href="{% static "errorreporter/css/reports.css" %}" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<h1>Overview report for {{ version }}</h1>
{% if crashreports %}
	Total # of reports: {{ crashreports|length }}<br>
	Total # of different stacks: {{ crashreports_aggr|length }}
{% else %}
	No crash reports for {{ version }}.
{% endif %}

<br><br>

{% with "errorreporter/flamegraphs/fg_v"|add:formattedversion|add:".svg" as flamegraph %}
	<object data="{% static flamegraph %}" type="image/svg+xml" id="version1" width="1000px"></object>
{% endwith %}

<br><br>

{% include "errorreporter/crashreport.html" %}
</body>
</html>