{% load staticfiles %}
<html>

<head>
	<title>Overview of received crash reports</title>
	<link href="{% static "errorreporter/css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>

<div id="header_menu">
<a href="index">Overview</a> |
<a href="overview_crashreport_version">Crash reports (per version)</a> |
<a href="overview_crashreport_daily">Crash reports (daily)</a>
<hr>
</div>

