{% load staticfiles %}
{% include "errorreporter/header.html" %}

<script type="text/javascript">
	$(document).ready(function(){
		$("#reports").change(function(){
			var url = "crashreport_version/" + $(this).val();
			$("iframe").attr("src",url);
		});
		$("iframe").attr("src", "crashreport_version/" + $("#reports option:selected").val());
	});
	</script>

Select version:

{% if crashreports %}
	<select id="reports">
		{% for c in crashreports %}
			<option value="{{ c.version }}">{{ c.version }} ({{ c.cnt }} reports)</option>
		{% endfor %}
	</select><br><br>
{% else %}
    <p>No crash reports are available.</p>
{% endif %}

<iframe id="reports_iframe"></iframe>
</body>
</html>